# ==========================================================
# ETL_API_Football - .gitignore
# ==========================================================

# --- Data folders ---
data/
datalake/

# --- Python cache ---
__pycache__/
*.pyc

# --- Jupyter notebooks ---
.ipynb_checkpoints/

# --- Local configuration ---
pipeline.conf

# --- Local environments ---
.venv/
.env/

# --- Logs ---
logs/
*.log